body{
    background-color: aqua;
}
#FirstHeader{
    text-align: center;
}
#AddingTaskDiv{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#AddButton{
    background-color: green;
    color: white;
}
.AddTaskInput{
    width: 25%;
    appearance: none;

}
.sortingButton{
    background-color: gray;
    color: white;
}
.deletingButton{
    background-color: red;
    color: white;
}
#taskTable{
    border: 1px solid red;
    width: 80%;
    gap: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
#tableDivStyle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.EditButtonClass{
    background-color: #4169E1;
    color: white;
}
#editingdiv{
    display:none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
}